<p>ホーム画面c(`Д´と⌒ｃ)つ彡</p>
<button mat-menu-item routerLink="../browse">browse</button>

<mat-list>
    <h3 mat-subheader>記録をつける</h3>
    <a mat-button routerLink="../browse">
        <mat-list-item>
            <mat-icon mat-list-icon>folder</mat-icon>
            <h4 mat-line>記録トップ</h4>
            <p mat-line>記録作成画面のトップ</p>
        </mat-list-item>
    </a>
    <a mat-button routerLink="../browse">
        <mat-list-item>
            <mat-icon mat-list-icon>folder</mat-icon>
            <h4 mat-line>ルーム作成</h4>
            <p mat-line>ルームを作成し、遊ぶボードゲームを選びます</p>
        </mat-list-item>
    </a>
    <a mat-button routerLink="../browse">
        <mat-list-item>
            <mat-icon mat-list-icon>folder</mat-icon>
            <h4 mat-line>ルームに参加</h4>
            <p mat-line>作成されたルームに参加します。</p>
        </mat-list-item>
    </a>
    <mat-divider></mat-divider>
    <h3 mat-subheader>閲覧する</h3>
    <a mat-button>
        <mat-list-item>
            <mat-icon mat-list-icon>folder</mat-icon>
            <h4 mat-line>記録閲覧</h4>
            <p mat-line>今までのプレイ記録を確認することができます</p>
        </mat-list-item>
    </a>
    <a mat-button>
        <mat-list-item>
            <mat-icon mat-list-icon>folder</mat-icon>
            <h4 mat-line>プレイヤー検索</h4>
            <p mat-line>プレイヤーを検索します</p>
        </mat-list-item>
    </a>
    <mat-divider></mat-divider>
    <h3 mat-subheader>データの登録</h3>
    <a mat-button>
        <mat-list-item>
            <mat-icon mat-list-icon>folder</mat-icon>
            <h4 mat-line>ボードゲーム登録</h4>
            <p mat-line>登録されていないボードゲームを登録することができます。</p>
        </mat-list-item>
    </a>
    <a mat-button>
        <mat-list-item>
            <mat-icon mat-list-icon>folder</mat-icon>
            <h4 mat-line>場所登録</h4>
            <p mat-line>
                登録されていないボドゲショップを登録することができます。
                ボドゲが遊べる場所であれば個人宅等でも可。
            </p>
        </mat-list-item>
    </a>
    <mat-divider></mat-divider>
    <h3 mat-subheader>ユーザ管理</h3>
    <a mat-button>
        <mat-list-item>
            <mat-icon mat-list-icon>folder</mat-icon>
            <h4 mat-line>ユーザ情報変更</h4>
            <p mat-line>ユーザ情報を変更することができます</p>
        </mat-list-item>
    </a>
    <a mat-button>
        <mat-list-item>
            <mat-icon mat-list-icon>folder</mat-icon>
            <h4 mat-line>パスワード変更</h4>
            <p mat-line>パスワードを変更することができます</p>
        </mat-list-item>
    </a>
    <mat-divider></mat-divider>
    <h3 mat-subheader>管理者向け</h3>
    <a mat-button>
        <mat-list-item>
            <mat-icon mat-list-icon>folder</mat-icon>
            <h4 mat-line>管理者用画面</h4>
            <p mat-line>普通の人はここは見れないよ</p>
        </mat-list-item>
    </a>
</mat-list>
