<p>
  トップ画面
</p>
<!--入力フォームをセンタリングしてカード内に表示-->
<!--センタリング-->
<div fxLayout="row" fxLayoutAlign="center">
  <mat-card class="mat-elevation-z3">
    <mat-card-header>
      <mat-card-title>login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!--入力フォームは縦並び-->
      <div fxLayout="column">
        <mat-form-field>
          <input matInput placeholder="user id">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="password">
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" routerLink="../home">Login</button>
    </mat-card-actions>
  </mat-card>
</div>



<!--<div class="example-container">-->
  <!--<mat-form-field>-->
    <!--<input matInput placeholder="Input">-->
  <!--</mat-form-field>-->

  <!--<mat-form-field>-->
    <!--<textarea matInput placeholder="Textarea"></textarea>-->
  <!--</mat-form-field>-->

  <!--<mat-form-field>-->
    <!--<mat-select placeholder="Select">-->
      <!--<mat-option value="option">Option</mat-option>-->
    <!--</mat-select>-->
  <!--</mat-form-field>-->
<!--</div>-->


<!--<h3>ログインフォーム</h3>-->
<!--<mat-card class="example-card mat-elevation-z3">-->
  <!--<mat-card-header>-->
    <!--<div mat-card-avatar class="example-header-image"></div>-->
    <!--<mat-card-title>Shiba Inu</mat-card-title>-->
    <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
  <!--</mat-card-header>-->
  <!--&lt;!&ndash;<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">&ndash;&gt;-->
  <!--<mat-card-content>-->
    <!--<p>-->
      <!--The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.-->
      <!--A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally-->
      <!--bred for hunting.-->
    <!--</p>-->
  <!--</mat-card-content>-->
  <!--<mat-card-actions>-->
    <!--<button mat-button>LIKE</button>-->
    <!--<button mat-button>SHARE</button>-->
  <!--</mat-card-actions>-->
<!--</mat-card>-->

<!--<div fxLayout='column' class="zero">-->

  <!--<div fxFlex="33" class="one" ></div>-->
  <!--<div fxFlex="33%" [fxLayout]="direction" class="two">-->

    <!--<div fxFlex="22%"    class="two_one"></div>-->
    <!--<div fxFlex="205px"  class="two_two"></div>-->
    <!--<div fxFlex="30"     class="two_three"></div>-->

  <!--</div>-->
  <!--<div fxFlex class="three"></div>-->

<!--</div>-->

<!--<div fxLayout="row" fxLayoutAlign="center center">-->
  <!--<div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>-->
<!--</div>-->
